<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="event">
<resultMap type="EventDto" id="EventMap">
<result property="event_no" column="EVENT_NO"/>
<result property="event_title" column="EVENT_TITLE"/>
<result property="event_content" column="EVENT_CONTENT"/>
<result property="event_start" column="EVENT_START"/>
<result property="event_end" column="EVENT_END"/>
</resultMap>

<select id="event_list" resultType="EventDto" parameterType="com.spring.recycle.util.EventSearchCriteria">

SELECT EVENT_NO, 
	   EVENT_TITLE, 
	   EVENT_CONTENT, 
	   EVENT_START, 
	   EVENT_END
FROM ( 
		SELECT EVENT_NO, 
			   EVENT_TITLE, 
			   EVENT_CONTENT, 
			   EVENT_START, 
			   EVENT_END,
			   ROW_NUMBER() OVER(ORDER BY EVENT_NO DESC) AS RNUM 
		FROM EVENT
	WHERE 1=1 <include refid="search"></include> AND EVENT_NO > 0
						) et	
	WHERE RNUM BETWEEN #{rowStart} AND #{rowEnd}
	ORDER BY EVENT_NO DESC
</select>

<sql id="search">
	<if test="searchType != null">
		<if test="searchType == 't'.toString()">AND EVENT_TITLE LIKE '%' || #{keyword} || '%'</if>
		<if test="searchType == 'c'.toString()">AND EVENT_CONTENT LIKE '%' || #{keyword} || '%'</if>
		<if test="searchType == 'tc'.toString()">AND (EVENT_TITLE LIKE '%' || #{keyword} || '%') or (EVENT_CONTENT LIKE '%' || #{keyword} || '%')</if>
	</if>
</sql>

<select id="event_view" resultType="EventDto">
select event_no , event_title , event_content , event_start , event_end
from event
where event_no = #{event_no}
</select>

<insert id="event_write" parameterType="EventDto">
insert into event(event_no , event_title , event_content , event_start , event_end)
values(eventseq.nextval , #{event_title},#{event_content},#{event_start},#{event_end})
</insert>

<update id="event_modify" parameterType="EventDto">
update event
set event_title = #{event_title} , event_content = #{event_content} , event_start = #{event_start},event_end = #{event_end}
where event_no = #{event_no}
</update>

<delete id ="event_delete" parameterType="String" >
	delete from event
	where event_no = #{event_no}
</delete>

<select id="listCount" resultType="int" parameterType="com.spring.recycle.util.EventSearchCriteria">

select count(event_no) from event where 1=1 <include refid="search"></include> and event_no > 0
</select>

<select id="listAll" resultType="EventDto">
	SELECT EVENT_NO, EVENT_TITLE, EVENT_CONTENT, EVENT_START, EVENT_END
	FROM EVENT
</select>

<!-- 전체 게시물 수  -->
<select id="event_count" resultType="int">
SELECT COUNT(EVENT_NO) FROM EVENT
</select>


</mapper>
