<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="funding">

	<select id="detail" resultType="fundingDto">
		SELECT * FROM FUNDING WHERE FUNDING_NO = ${funding_no}
	</select>

<!-- 	<select id="filter" resultType="fundingDto">
		SELECT FUNDING_NO, FUNDING_PIC, FUNDING_TITLE, FUNDING_FILTER, FUNDING_START, FUNDING_END, FUNDING_TA, FUNDING_CA
		FROM FUNDING
		WHERE FUNDING_FILTER like '%'||#{funding_filter}||'%'
		ORDER BY FUNDING_END DESC, FUNDING_NO DESC
	</select>
 -->
	<insert id="insert" parameterType="fundingDto">
		INSERT INTO FUNDING
		VALUES(FUNDINGSEQ.NEXTVAL, #{funding_pic}, #{funding_title}, #{funding_content}, #{funding_filter}, #{funding_start}, #{funding_end}, #{funding_ta}, 0, #{funding_pay}, #{funding_paydesc})
	</insert>
	
	<update id="update" parameterType="fundingDto">
		UPDATE FUNDING
		SET FUNDING_PIC = #{funding_pic}, FUNDING_TITLE = #{funding_title}, FUNDING_CONTENT = #{funding_content}, FUNDING_FILTER = #{funding_filter}, FUNDING_START = #{funding_start}, FUNDING_END = #{funding_end}, FUNDING_TA = #{funding_ta}, FUNDING_PAY = #{funding_pay}, FUNDING_PAYDESC = #{funding_paydesc}
		WHERE FUNDING_NO = #{funding_no}
	</update>
	
	<delete id="delete" parameterType="int">
		DELETE FROM FUNDING
		WHERE FUNDING_NO = #{funding_no}
	</delete>

	<select id="selectList" resultType="fundingDto" parameterType="com.spring.recycle.util.FundingSearchCriteria">
		SELECT FUNDING_NO, FUNDING_PIC, FUNDING_TITLE, FUNDING_FILTER, FUNDING_START, FUNDING_END, FUNDING_TA, FUNDING_CA
		FROM ( SELECT FUNDING_NO, FUNDING_PIC, FUNDING_TITLE, FUNDING_FILTER, FUNDING_START, FUNDING_END, FUNDING_TA, FUNDING_CA, ROW_NUMBER() OVER(ORDER BY FUNDING_NO DESC, FUNDING_END DESC) AS rn FROM FUNDING
		WHERE 1=1 AND FUNDING_FILTER like '%'||#{funding_filter}||'%' AND FUNDING_NO > 0
		) fd
		WHERE rn  BETWEEN #{rowStart} AND #{rowEnd}
		ORDER BY FUNDING_NO DESC, FUNDING_END DESC
	</select>
	
	<select id="listCount" resultType="int" parameterType="com.spring.recycle.util.FundingSearchCriteria">
		SELECT COUNT(FUNDING_NO) FROM FUNDING WHERE 1=1 AND FUNDING_FILTER like '%'||#{funding_filter}||'%' AND FUNDING_NO > 0
	</select>
	
	<select id="selctAll" resultType="fundingDto">
		SELECT FUNDING_NO, FUNDING_PIC, FUNDING_TITLE, FUNDING_FILTER, FUNDING_START, FUNDING_END, FUNDING_TA, FUNDING_CA
		FROM FUNDING 
	</select>
	
	<update id="caUpdate" parameterType="fundingDto">
		UPDATE FUNDING
		SET FUNDING_CA = FUNDING_CA + #{funding_ca}
		WHERE FUNDING_NO = #{funding_no}
	</update>
	
	<update id="cancelCaUpdate" parameterType="fundingDto">
		UPDATE FUNDING
		SET FUNDING_CA = FUNDING_CA - #{funding_ca}
		WHERE FUNDING_NO = #{funding_no}
	</update>
	
</mapper>
